li
{
    list-style-type: none;
    margin: 5px;
    font-family: calibri;
    font-size: 14px;
}

button
{
    background-color:#4055c7;
    color:#ffffff;
    font-family: Calibri;
    font-size: 14px;
    border: 1px solid #4055c7;
}

input
{
    font-family: Calibri;
    font-size: 14px;
    border: 1px solid #4055c7;
    color:#4055c7;
}

h1
{
    font-family: Calibri;
    font-size: 18px;
    color:#4055c7;
}

table
{
    font-family: calibri;
    font-size:12px;
}